{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Happy Birthday ❤️</title>

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Pacifico&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'suprise/css/birthday.css' %}">
<link rel="stylesheet" href="{% static 'suprise/css/responsive.css' %}">

</head>

<body class="birthday-page">

<div id="hearts"></div>

<!-- Birthday Decorations -->

<div class="decor decor1">🎈</div>

<div class="decor decor2">🎂</div>

<div class="decor decor4">🎉</div>

<div class="decor decor5">🥳</div>

<div class="decor decor6">🎊</div>

<div class="decor decor9">✨</div>

<div id="confetti"></div>

<!-- ================= HERO ================= -->

<section class="hero">

<h1 class="birthday-heading">
<span class="fade"></span>
<span class="fade">Happy</span>
<span class="fade">Birthday</span>
<span class="fade">🎈</span>
</h1>

<h2 class="love-heading">
My Love 
</h2>
<div class="typing-message">
    <p id="typing"></p>
</div>
</section>

<!-- ================= CAKE ================= -->
<section class="cake-section">
<div class="cake">

<div class="candle">
<div class="flame"></div>
</div>

<div class="cake-top"></div>

<div class="cake-middle"></div>

<div class="cake-bottom"></div>

<div class="icing"></div>

<div class="cherry cherry1"></div>
<div class="cherry cherry2"></div>
<div class="cherry cherry3"></div>
</div>
<h4 class="section-title">
✨ Make a Wish ✨

</h4>
</section>
<!-- ================= GALLERY ================= -->
<section class="gallery-section">

<h2 class="section-title">

📸 Our Beautiful Memories 📸
</h2>
<div class="gallery">
<div class="photo">
<img src="{% static 'suprise/images/photo1.jpeg' %}">
<span>I love you ❤️</span>
</div>

<div class="photo">
<img src="{% static 'suprise/images/photo2.jpeg' %}">
<span>Favorite Moment ✨</span>
</div>

<div class="photo">
<img src="{% static 'suprise/images/photo3.jpeg' %}">
<span>uff ko holaaa 💖</span>
</div>

<div class="photo">
<img src="{% static 'suprise/images/photo4.jpeg' %}">
<span>My Favorite Person ❤️</span>
</div>

<div class="photo">
<img src="{% static 'suprise/images/photo5.jpeg' %}">
<span>Forever Us 🥰</span>
</div>

<div class="photo">
<img src="{% static 'suprise/images/photo6.jpeg' %}">
<span>hehe ummhmmaa❤️</span>
</div>

</div>

</section>

<!-- ================= MESSAGE ================= -->

<section class="message-section">

<h2>
A Little Message For You ❤️
</h2>

<p>

Happy Birthday to the most amazing person who holds my whole heart.

Thank you for bringing happiness into my world.

Every moment with you becomes a beautiful memory.

May this year bring you endless smiles, good health,
success, peace, and everything your heart wishes for.

I will always be cheering for you.

I love you more than words can ever explain......huuhuhuhu i miss you mayaaluu....
❤️ Happy Birthday My Love ❤️

</p>

</section>

<!-- ================= END ================= -->

<section class="end-section">

<h1>

Forever & Always ❤️

</h1>

<p>

No matter where life takes us,

I will always wish for your happiness.

Thank you for being you.

Happy Birthday once again,

My Love ❤️

</p>
</section>
<section class="go-back-section">
    <button class="go-back-btn" onclick="openQuestionBox()">
        ← Go Back
    </button>
</section>

<div id="popupOverlay" class="popup-overlay">

    <div class="question-box">
 
        <button class="close-popup" onclick="closePopup()">
        ✕
        </button>

        <!-- Question -->

        <div id="question">

            <h2> Are you sure you want to leave?</h2>

            <div class="question-buttons">

                <button class="yes-btn" onclick="showDontLove()">
                    Yes 
                </button>

                <button class="no-btn" onclick="showLove()">
                    No 
                </button>

            </div>

        </div>


        <!-- DON'T LOVE -->

        <div id="dontLove" style="display:none;">

            <h2> I know you don't love me...</h2>

            <p> 😏😏😭😭😭🥺 </p>

            <button class="try-btn" onclick="tryAgain()">
                😏 Try Again
            </button>

        </div>


        <!-- FINAL MESSAGE -->

        <div id="loveMessage" style="display:none;">

            <h2>🤭 I knew it! ❤️</h2>

            <p>I love youu hehehe 🥰</p>

            <a href="{% url 'gift' %}" class="gift-btn">
                🎁 OK Bye, Happy Birthday
            </a>

        </div>

    </div>

</div>

<script src="{% static 'suprise/js/birthday.js' %}"></script>

</body>

</html>