{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Special one ❤️</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Pacifico&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'suprise/css/style.css' %}">

</head>

<body class="gift-page">

<div class="background"></div>

<div class="gift-container">


<h1>Tap The Gift</h1>
<p>I made something especially for you hahaha</p>

<div id="gift">

<div class="gift-lid"></div>

<div class="gift-box"></div>

<div class="ribbon-v"></div>

<div class="ribbon-h"></div>

<div class="bow">
<span></span>
<span></span>
</div>

</div>

</div>

<script src="{% static 'suprise/js/gift.js' %}"></script>

</body>
</html>